{
    "presets": [
        
        ["@babel/env",{
            "targets": {
              "chrome": "58",
              "ie": "10"
            },
            "useBuiltIns": "usage",
          "modules": false,
          "corejs": 2
          }]
        
      ],
    "plugins": [
//        ["@babel/plugin-transform-runtime",{
//            "corejs": 2,
//        }]
      ["@babel/plugin-syntax-dynamic-import"]
      ]
}